.main-header {
  height: 500px;
  width: 100%;
  background-color: rgb(15, 98, 189);
  display: flex;
  justify-content: space-between;
}

.main-header-navbar {
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.coinbase-logo {
  height: 10%;
  width: 20%;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.all-charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}