.main-header {
  height: 500px;
  width: 100%;
  background-color: rgb(15, 98, 189);
  display: flex;
  justify-content: space-between;
}

.coinbase-logo {
  height: 10%;
  width: 20%;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-buttons {
  font-size: 26px;
  font-family: sans-serif;
  width: auto;
  width: 25%;
  display: flex;
  justify-content: space-around;
}

.email-button {
  color: white;
  background-color: rgb(0, 197,127);
  cursor: pointer;
  /* font-family: "Avenir Next", sans-serif; */
}

.greeting {
  justify-content: center;
  align-content: center;
  margin-top: 100px;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 26px;
  border: none;
}

.dropdown {
  position: relative;
  display: flex;
  height: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: none;}

.login-button {
  cursor: pointer;
  height: 10px;
}


