.main-coin-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.bitcoin-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: -125px;
  border-radius: 4px;
  border: 1px solid #DCDCDC;
  box-shadow: 0 1px 2px 0 #e1e5ea;
}

.bitcoin-name {
  display: flex;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.bitcoin-price {
  font-family: 'Montserrat', sans-serif;
}

.bitcoin-change {
  font-family: 'Montserrat', sans-serif;
}

.buy-bitcoin-button {
  font-family: 'Montserrat', sans-serif;
  height: 25px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 197,127)
}

.bitcoin-cash-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin-top: -125px;
  border-radius: 4px;
  border: 1px solid #DCDCDC;
  box-shadow: 0 1px 2px 0 #e1e5ea;
}

.bitcoin-cash-name {
  display: flex;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.bitcoin-cash-price {
  font-family: 'Montserrat', sans-serif;
}

.bitcoin-cash-change {
  font-family: 'Montserrat', sans-serif;
}

.buy-bitcoin-cash-button {
  font-family: 'Montserrat', sans-serif;
  height: 25px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 197,127);
}

.ethereum-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin-top: -125px;
  border-radius: 4px;
  border: 1px solid #DCDCDC;
  box-shadow: 0 1px 2px 0 #e1e5ea;
}

.ethereum-name {
  display: flex;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.ethereum-price {
  font-family: 'Montserrat', sans-serif;
}

.ethereum-change {
  font-family: 'Montserrat', sans-serif;
}

.buy-ethereum-button {
  font-family: 'Montserrat', sans-serif;
  height: 25px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 197,127);

}

.litecoin-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: -125px;
  border-radius: 5px;
  border: 1px solid #DCDCDC;
  box-shadow: 0 1px 2px 0 #e1e5ea;
}

.litecoin-name {
  display: flex;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.litecoin-price {
  font-family: 'Montserrat', sans-serif;
}

.litecoin-change {
  font-family: 'Montserrat', sans-serif;
}

.buy-litecoin-button {
  font-family: 'Montserrat', sans-serif;
  height: 25px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 197,127);
  border: none;
}

.graphs-container {
  /* height: 100px; */
  /* width: 300px; */
  display: flex; 
  flex-direction: row;
}